@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');


:root
{
    --Noto : 'Noto Sans KR';
    --main-color : #252525;
    --white-color : #f3f3f3;
    --gray-color : #4b4b4b;
    --hover-color : #777777;
}